@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* scroll bar css start  */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f4f600; /* Track color */
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #36383e; /* Thumb color */
  border-radius: 4px; /* Rounded corners */
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* Hover color */
}

/* scroll bar css ends  */
.h1-text-shadow  {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}